@import "vars";

/* FOOTER */
.footer{
    grid-area: footer;
    background-color: map-get($colores, crema);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 0.125rem solid map-get($colores, negro);
    font-size: 0.90rem;
    &__icono img{
        @include medidas(5rem, 4.688rem);
        margin-top: 0.938rem;
        &:hover{
            transform: rotate(65deg);
        }
    }
    &__lista{
        display: flex;
        list-style: none;
        padding-bottom: 0.938rem;
    }
    &__item{
        padding: 0rem 1.25rem 0rem 0rem;
        & a{
            text-decoration: none;
            text-transform: uppercase;
            color: map-get($colores, negro);
            &:hover{
                color: map-get($colores, marron);
            }
        }
    }
    &__parrafo{
        text-align: center;
        padding-bottom: 0.625rem;
    }
}