@import "vars";
/* HEADER */
.header{
    grid-area: header;
    background-color: map-get($colores, crema);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border: 0.125rem solid map-get($colores, negro);
    &__icono img{
        @include medidas(5rem, 4.688rem);
        &:hover{
            transform: rotate(65deg);
        }
    }
    &__lista{
        display: flex;
        list-style: none;
    }
    &__item{
        padding: 0rem 1.25rem 0rem 0rem;
        & a{
            text-decoration: none;
            text-transform: uppercase;
            color: map-get($colores, negro);
            &:hover{
                color: map-get($colores, marron);
            }
        }
    }
}