@import "vars";
/* HERO SECTION */
.hero{
    grid-area: hero;
    background-color: map-get($colores, crema);
    background: url(../img/hero_helado_4.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    @include medidas(100%, 700px);
    &__texto{
        margin-top: 6.25rem;
        align-self: center;
        font-size: 4.063rem;
        color: map-get($colores, blanco);
    }
}


.btn{
    align-self: center;
    text-decoration: none;
    background-image: transparent;
    font-size: 1.438rem;
    color: map-get($colores, blanco);
    padding: 0.438rem 2.5rem;
    border-radius: 0.313rem;
    border: solid;
    &:hover{
        background-color: map-get($colores, blanco);
        color: map-get($colores, negro);
    }

}