/* PRIMERA SECTION */
.primera__1{
    grid-area: primera__1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.primera__2{
    grid-area: primera__2;
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.primera__titulo{
    padding-top: 13vh;
}

.primera__texto{
    padding: 15vh 20vh;
    font-size: 0.813rem;
}

/* SEGUNDA SECTION */

.segunda__1{
    grid-area: segunda__1;
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.segunda__titulo{
    padding-top: 13vh;
}

.segunda__texto{
    padding: 15vh 20vh;
    font-size: 0.813rem;
}

.segunda__2{
    grid-area: segunda__2;
    width: 100%;
    height: 100%;
    overflow: hidden;
}