@import "vars";
/* PRIMERA SECTION */
.primera__1{
    grid-area: primera__1;
    @include medidas(100%, 100%);
    overflow: hidden;
}

.primera__2{
    grid-area: primera__2;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}


.titulo{
    padding-top: 13vh;
 
}

.primera__titulo{
    @extend .titulo;
    color: map-get($colores, marron);

}

.primera__texto{
    padding: 15vh 20vh;
    font-size: 0.813rem;
    text-align: center;
}

/* SEGUNDA SECTION */

.segunda__1{
    grid-area: segunda__1;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.segunda__titulo{
    @extend .titulo;
    color: map-get($colores, marron);
}

.segunda__texto{
    padding: 15vh 20vh;
    font-size: 0.813rem;
    text-align: center;
}

.segunda__2{
    grid-area: segunda__2;
    @include medidas(100%, 100%);
    overflow: hidden;
}