@import "vars";

/* DESKTOP SOBRE NOSOTROS 32.44rem*/
.body__sobreNosotros{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4,auto);

    grid-template-areas: "header header"
                         "heroSobreNosotros heroSobreNosotros"
                         "textoSection textoSection"
                         "footer footer";
}

.heroSobreNosotros{
    grid-area: heroSobreNosotros;
    background-color: map-get($colores, marron);
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: 2px solid map-get($colores, negro);
    @include medidas(100%, 32.44rem);
}

.hero__titulo--sobreNosotros{
    color: map-get($colores, blanco);
    font-size: 3.5rem;
    align-self: center;
}


.textoSection{
    grid-area: textoSection;
    display: flex;
    flex-direction: column;
    text-align: center;
    @include medidas(100%, 100%);
    &__titulo{
        padding: 4rem 0rem;
    }
    &__texto{
        padding-bottom: 4rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}